
/* Box Styles */
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 90%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: var(--clr-neutral-a0);
  }
  
  .container span {
    color: white;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .container i {
      color: var(--clr-primary-a0);
      font-size: 3rem;
      display: flex;
      flex-direction:column;
      flex-wrap:wrap;
  }