#nav-panel{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: "Bricolage Grotesque", "Google Sans", "Roboto", "Helvetica Neue",
    sans-serif;
}

#hamburger {
    display: none;
}

nav{
    height: 5rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    background-color: rgba(255, 255, 255, .55);  
    backdrop-filter: blur(10px);
}

.nav a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;

}

@media screen and (max-width: 1040px) {
    #nav-panel {
      position: fixed;
      left: 125%;
      top: 8rem;
      transition: 0.3s ease-in-out;
      z-index: 99;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 1rem;
      display: flex;
      gap: 1rem;
      text-align: center;
      flex-direction: column;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      backdrop-filter: blur(5px);
    }
  
    #nav-panel a {
      background-color: var(--clr-primary-a30);
      padding: 1rem;
      color: white;
      border-radius: 1rem;
    }
    #nav-panel::before {
      content: "Ethan Cornwill";
    }
  
    #nav-panel.active {
      left: 70%;
    }
  
    #hamburger.active {
      transform: rotate(90deg);
    }
  
    #hamburger {
      background-color: var(--clr-primary-a0);
      color: white;
      font-size: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: fixed;
      padding: 0.5rem;
      left: 85%;
      top: 1rem;
      display: block;
      cursor: pointer;
      z-index: 99;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }
  }