<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
    <main>
        <section>
            <div class="container">
                <h1>Hello world</h1>
            </div>
        </section>
    </main>
    
   
    
</body>
</html>